service: gotpop-email-lambda

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-2
  stage: ${opt:stage, 'prod'}
  environment:
    SES_FROM_EMAIL: ${env:SES_FROM_EMAIL, 'noreply@gotpop.io'}
    SES_REPLY_TO_EMAIL: ${env:SES_REPLY_TO_EMAIL, 'hello@gotpop.io'}
    ADMIN_EMAIL: ${env:ADMIN_EMAIL}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ses:SendEmail
            - ses:SendRawEmail
          Resource: "*"

package:
  patterns:
    - 'src/**'
    - 'src/templates/**'
    - '!src/**/*.ts'
    - '!node_modules/**'
    - '!.git/**'
    - '!.serverless/**'

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

functions:
  sendContactEmail:
    handler: src/handlers/contact.handler
    events:
      - http:
          path: /contact
          method: post
          cors:
            origin: "*"
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

custom:
  serverless-offline:
    httpPort: 3003